

.calcDisplay {
    margin: 10px 0 0 10px;
    width: 175px;
    height: 60px;
    border: 2px solid #67b835;

}

.displayItems {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}