.calcRemote {
    border: 2px solid #67b835;
    margin: 10px 0 0 10px;
    height: 200px;
    width: 175px;
}

.btnRowStyle {
    margin-top: 8px;
    display: flex;
    justify-content: space-around;
}

